{:deps    {}
 :aliases {:dev    {:extra-paths ["dev" "test"]
                    :extra-deps  {io.github.cognitect-labs/test-runner {:git/tag "v0.5.0" :git/sha "b3fd0d2"}
                                  io.github.clojure/tools.build        {:git/tag "v0.8.4" :git/sha "8c3cd69"}
                                  slipset/deps-deploy                  {:mvn/version "0.2.0"}
                                  io.github.nextjournal/clerk          {:mvn/version "0.12.707"}
                                  integrant/integrant                  {:mvn/version "0.8.0"}}}
           :test   {:extra-paths ["test"]
                    :main-opts   ["-m" "cognitect.test-runner"]
                    :exec-fn     cognitect.test-runner.api/test}
           :build  {:exec-fn build/all}
           :deploy {:exec-fn   deps-deploy.deps-deploy/deploy
                    :exec-args {:installer :remote
                                :artifact  "target/di.jar"}}
           :doc    {:exec-fn   nextjournal.clerk/build!
                    :exec-args {:index    "notebooks/index.clj"
                                :paths    ["notebooks/*.clj" "test/**/*.clj"]
                                :out-path "public"}}}}

;; clj -T:dev:build
;; clj -T:dev:deploy
