{:cljdoc.doc/tree
 [["Readme" {:file "Readme.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]
  ["Why DI?" {:file "doc/why_di.md"}]
  ["Design" {:file "doc/design.md"}]
  ["Integrant vs DI" {:file "doc/integrant.md"}]
  ["Example app" {:file "doc/example.md"}]
  ["Tutorial"
   ["Your first system"           {:file "doc/tutorial/a_your_first_system_test.md"}]
   ["Dependencies"                {:file "doc/tutorial/b_dependencies_test.md"}]
   ["Stopping components"         {:file "doc/tutorial/c_stopping_components_test.md"}]
   ["Interactive development"     {:file "doc/tutorial/d_interactive_development_test.md"}]
   ["Registries"                  {:file "doc/tutorial/e_registries_test.md"}]
   ["Abstractions"                {:file "doc/tutorial/f_abstractions_test.md"}]
   ["Environment variables"       {:file "doc/tutorial/g_environment_variables_test.md"}]
   ["Starting many keys"          {:file "doc/tutorial/h_starting_many_keys_test.md"}]
   ["Wiring inside data"          {:file "doc/tutorial/i_wiring_inside_data_test.md"}]
   ["Transforming values"         {:file "doc/tutorial/j_transforming_values_test.md"}]
   ["Composition with update-key" {:file "doc/tutorial/k_composition_with_update_key_test.md"}]
   ["Handling start failures"     {:file "doc/tutorial/l_handling_start_failures_test.md"}]]
  ["How-to"
   ["Tips"                  {:file "doc/how_to/tips_test.md"}]
   ["Side dependencies"     {:file "doc/how_to/side_dependencies_test.md"}]
   ["Feature flags"         {:file "doc/how_to/feature_flags_test.md"}]
   ["Startup checks"        {:file "doc/how_to/startup_checks_test.md"}]
   ["Logging system lifecycle" {:file "doc/how_to/log_test.md"}]
   ["Multimethods"                 {:file "doc/how_to/multimethods_test.md"}]
   ["All public vars as a component" {:file "doc/how_to/ns_publics_test.md"}]
   ["Multi-arity services"  {:file "doc/how_to/multi_arity_service_test.md"}]
   ["Multiple systems"      {:file "doc/how_to/multiple_systems_test.md"}]
   ["Reusing components between tests" {:file "doc/how_to/reusing_components_between_tests_test.md"}]
   ["One factory, many keys" {:file "doc/how_to/one_factory_many_keys_test.md"}]
   ["Visualizing your system" {:file "doc/how_to/visualizing_test.md"}]]
  ["Reference"
   ["Inspect"                 {:file "doc/reference/inspect_test.md"}]
   ["The middleware argument" {:file "doc/reference/middleware_argument.md"}]]]}
