{:cljdoc.doc/tree
 [["Readme" {:file "Readme.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]
  ["Tutorial"
   ["Base"
    ["Your first system"           {:file "doc/tutorial/a_intro_test.md"}]
    ["Dependencies"                {:file "doc/tutorial/b_dependencies_test.md"}]
    ["Stopping components"         {:file "doc/tutorial/c_stop_test.md"}]
    ["Interactive development"     {:file "doc/tutorial/d_interactive_development_test.md"}]
    ["Registries"                  {:file "doc/tutorial/l_registries_test.md"}]
    ["Abstractions"                {:file "doc/tutorial/m_abstractions_test.md"}]
    ["Environment variables"       {:file "doc/tutorial/n_env_test.md"}]
    ["Starting many keys"          {:file "doc/tutorial/q_starting_many_keys_test.md"}]
    ["Wiring inside data"          {:file "doc/tutorial/o_data_dsl_test.md"}]
    ["Transforming values"         {:file "doc/tutorial/p_derive_test.md"}]
    ["Composition with update-key" {:file "doc/tutorial/x_update_key_test.md"}]
    ["Graceful failures"           {:file "doc/tutorial/y_graceful_stop_test.md"}]
    ["Multimethods"                {:file "doc/tutorial/r_multimethods_test.md"}]]
   ["Advanced"
    ["Tips"                  {:file "doc/how_to/tips_test.md"}]
    ["Add a side dependency" {:file "doc/tutorial/x_add_side_dependency_test.md"}]
    ["Log"                   {:file "doc/tutorial/x_log_test.md"}]
    ["Inspect"               {:file "doc/tutorial/x_inspect_test.md"}]
    ["Multi-arity services"  {:file "doc/how_to/multi_arity_service_test.md"}]
    ["Multi system"          {:file "doc/tutorial/z_multi_system_test.md"}]
    ["Two Databases"         {:file "doc/tutorial/z_two_databases_test.md"}]]]
  ["Reference"
   ["Middleware types" {:file "doc/reference/middleware_types_test.md"}]]
  ["Example app" {:file "doc/example.md"}]
  ["Integrant vs DI" {:file "doc/integrant.md"}]]}
